@import url("./base.css");

.form {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    /* background-color: white; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;  */
    /* border: solid; */
}

.form.md {
    width: 24rem;
    justify-content: center;
}

.form.lg {
    width: 50rem;
}

.form.xl {
    width: 80%;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
    /* border: solid; */
    width: 100%;
}

.form-grp {
    display: flex;
    gap: 4%;
}

.form-grp .input-grp {
    width: 48%;
}

.input-grp {
    display: flex;
    flex-direction: column;
    /* border: solid; */
    width: 100%;
}

.input-grp label {
    font-size: 0.9rem;
}

input,
textarea,
select {
    border: none;
    /* background-color: rgba(241, 241, 241, 0.418); */
    height: 3.2rem;
    width: 100%;
    border-radius: 5px;
    transition: all 100ms linear;
    padding: 0 .7rem;
    border: 1px solid rgb(231, 231, 231);
}

input:hover,
textarea:hover {
    outline: none;
    border: none;
    border: 2px solid var(--clr-main);
}

input:focus,
input:focus:hover,
textarea:focus,
textarea:focus:hover {
    outline: none;
    border-bottom: 2px solid var(--clr-main);
}

input:focus:hover,
textarea:focus:hover {
    border: none;
    border-bottom: 2px solid var(--clr-main);
}

textarea {
    height: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.highlighted{
    position: relative;
}
.highlighted::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    height: 90%;
    /* border-radius: 1px; */
    background-color: rgba(255, 0, 0, 0.11);
}

.password-options {
    display: flex;
    justify-content: space-between;
}

.input-with-icon {
    position: relative;
}

.input-with-icon input {
    padding-right: 3.5rem;
}

.input-with-icon .button-icon {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
}

.show-password {
    margin-top: .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    font-size: 0.8rem;
}

.show-password input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}

.show-password label {
    cursor: pointer;
}

.reg-step-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg-step-container .step {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 225, 255);
}

.reg-step-container .connector {
    width: 4rem;
    height: 2px;
    background-color: rgb(0, 225, 255);
}

.reg-step-container .step2,
.reg-step-container .connector2 {
    transition: all 150ms linear;
    background-color: rgb(189, 189, 189);
}

.reg-step-container .step2.active,
.reg-step-container .connector2.active {
    background-color: rgb(0, 225, 255);
}


.radio-container {
    display: flex;
    gap: 2rem;
}

.radio-grp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.radio-grp input,
.radio-grp label {
    cursor: pointer;
}

.input-grp.file-upload {
    position: relative;
}

.input-grp.file-upload svg {
    position: absolute;
    top: 50%;
    right: 1rem;
    font-size: 1.5rem;
    color: rgb(97, 97, 97);
    z-index: -1;
}

.input-grp.file-upload input[type=file]::file-selector-button {
    display: none;
}

.input-grp.file-upload input[type=file] {
    padding-top: 0.8rem;
    padding-right: 4rem;
    cursor: pointer;
}

.pending-icon {
    font-size: 3rem;
    color: rgb(54, 54, 54);
}

.declined-icon {
    font-size: 3rem;
    color: rgb(255, 0, 0);
}

@media screen and (max-width: 425px) {

    .form-grp {
        flex-direction: column;
        gap: 2rem;
    }

    .form-grp .input-grp {
        width: 100%;
    }
}