@import url("./base.css");

.item-list-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5rem;
    flex-wrap: wrap;
}

.item-list-container .item {
    width: 20rem;
    margin-top: 3rem;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    cursor: pointer;
    transition: all 100ms linear;
    position: relative;
}

.item-list-container .item:hover {
    transform: translateY(-4px);
}

.item-list-container .item .active {
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    border-radius: 100%;
    background-color: rgba(255, 0, 0, 0.808);

}

.item-list-container .image {
    width: 100%;
    height: 12rem;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.item-list-container .name {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
    padding-top: 1.5rem;
    font-weight: 600;
}

.item-list-container .desc {
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    padding-top: 0;
    padding-bottom: 1.5rem;
}

.item-list-container .requests-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 1.5rem;
    gap: 0.5rem;
    border-top: 1px solid rgb(214, 214, 214);
}

.item-list-container .requests-container svg {
    font-size: 1.3rem;
    fill: rgb(87, 87, 87);
}

.item-list-container .requests-container .requests {
    font-size: 0.9rem;
}

.item-list-container .requests-container .requests span {
    font-size: 1rem;
}

.item-profile-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

.item-card-profile {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
}

.item-status-container {
    display: flex;
    /* gap: .5rem; */
}

.item-status-container .name,
.item-status-container .desc {
    margin: 0;
    padding-left: 0;
}

.item-status {
    width: 5rem;
    position: relative;
}

.item-status::before {
    content: '';
    position: absolute;
    top: 1.85rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #00e065;
    width: 15px;
    height: 15px;
    border: 3px solid white;
    outline: 1px solid #00e065c2;
    border-radius: 100%;
}

.item-status.status-accepted::before {
    background-color: var(--clr-status-accepted);
    outline-color: var(--clr-status-accepted-light);
}

.item-status.status-pending::before {
    background-color: var(--clr-status-pending);
    outline-color: var(--clr-status-pending-light);
}

.item-status.status-rejected::before {
    background-color: var(--clr-status-rejected);
    outline-color: var(--clr-status-rejected-light);
}

.donor_name {
    font-size: 0.9rem;
}

.donor_name span {}


@media screen and (max-width: 786px) {}