@import url("./base.css");

.nav {
  height: var(--navbar-ht);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid; */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 150ms linear;
  z-index: 100;
}

.nav.nav-bg-active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 8px 24px;
}

.nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-left {
  /* border: solid; */
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-right {
  /* border: solid; */
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.nav-btn-highlighted {
  background-color: var(--clr-main);
  padding: .5rem 2rem;
  border-radius: 20px;
  transition: all 150ms linear;
}

.nav-btn-highlighted:hover {
  background-color: var(--clr-main-hover);
  color: #222 !important;
}

.nav-btn-highlighted.active {
  color: #222 !important;
  font-weight: 500;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: var(--clr-sec);
}

.logo:hover {
  color: var(--clr-sec);
}

.logo span {
  font-style: italic;
  color: var(--clr-main-hover);
}

.nav-right a,
.nav-menu a {
  text-decoration: none;
  color: var(--text-main);
}

.nav-right a:hover,
.nav-menu a:hover {
  color: var(--text-main-hover);
}

.nav-right a.active,
.nav-menu a.active {
  color: var(--clr-main);
}

.nav-right a.active:hover,
.nav-menu a.active:hover {
  color: var(--clr-main-hover);
}

.dropdown-link button {
  background-color: transparent !important;
  color: var(--text-main);
  border: none;
  width: fit-content;
  padding: 0;
  font-weight: normal !important;

}

.dropdown-link button:hover {
  color: var(--text-main-hover);
}

.dropdown-link button.show {
  color: var(--text-main);
}

.dropdown-link.active button {
  color: var(--clr-main);
  font-weight: 500;
}

.dropdown-link.active button:hover {
  color: var(--clr-main-hover);
}

.dropdown-item:focus {
  background-color: var(--clr-sec) !important;
}

.dropdown-item.active {
  background-color: var(--clr-sec) !important;
  color: white !important;
}

.toggle-btn-container {
  display: none;
}

.nav-menu {
  display: none;
}

.profile-pic {
  width: 3rem;
  height: 3rem;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  display: inline-block;
}

@media screen and (max-width: 786px) {
  body {
    padding-top: 6rem;
  }

  .nav .container {
    padding: 0 5vw;
  }

  .nav-right {
    display: none;
  }

  .toggle-btn-container {
    display: flex;
    justify-content: flex-end !important;
    align-items: center;
    width: 70%;
    position: relative;
  }

  .toggle-btn-container input[type="checkbox"] {
    background-color: red;
    width: 2.1rem;
    height: 2.1rem;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 4;
  }

  .toggle-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 3;
  }

  .toggle-btn span {
    width: 100%;
    height: 1.5px;
    background-color: var(--clr-sec);
    transition: all 100ms linear;
  }

  .nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .nav-menu {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    transition: all 200ms linear;
    z-index: 2;
  }
}